---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

export const title = 'DF Classicube Online'
---

<Layout title={title}>
	<h1>{title}</h1>
	my vscode is dying
	<section>
		<Card title="Editor"        link="./edit" description="Interactive editor for ClassiCube scripts." />
		<Card title="Documentation" link="./docs" description="Cope"                                       />
	</section>
</Layout>

<style>
	section {
		margin-inline: auto;
		display: grid;
		gap: 0.8em;
		grid-template-columns: 1fr 1fr;
	}
</style>